{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users | BORRI</title>
    <link rel="stylesheet" href="{% static 'css/edit.css'%}">
    <link rel="stylesheet" href="{% static 'css/users.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="background-overlay"></div>
    
    <nav>
        <div class="logo">
            <a id="logo" data-text="BORRI" href="{% url 'administration' %}">
                <span class="logo-text">Borri</span>
            </a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="{% url 'administration' %}">Home</a></li>
                <li class="services-item">
                    <a href="#" tabindex="0">Services</a>
                    <ul class="services-dropdown">
                        <li><a href="{% url 'list' %}"><i class="fa-solid fa-list"></i> List Books</a></li>
                        <li><a href="{% url 'borrowed' %}"><i class="fa-solid fa-list"></i> List Borrowed Books</a></li>
                        <li><a href="{% url 'users' %}"><i class="fa-solid fa-list"></i> List Users</a></li>
                        <li><a href="{% url 'add' %}"><i class="fas fa-plus-circle"></i> Add Book</a></li>
                        <li><a href="{% url 'edit' %}"><i class="fa-regular fa-pen-to-square"></i> Edit Book</a></li>
                    </ul>
                </li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
        <div class="profile-dropdown">
            <button class="profile-btn">
                <i class="fas fa-user-circle"></i>
                <i class="fas fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{% url 'profile'%}"><i class="fas fa-user"></i> Profile Details</a></li>
                <li><a style="cursor: pointer;" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>            
            </ul>
        </div>
    </nav>
 
    <main class="users-container">
        <h1 id="page-title" class="page-title">Manage Users</h1>

         <div class="users-table-container">
            <table class="users-table">
                <thead id = "users-head">
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Books Borrowed</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div> 
    </main>
    
    <footer>
        <div class="footer-content">
            <div class="footer-section about" id="about">
                <h3>About BORRI</h3>
                <p>Welcome to BORRI, your go-to online book hub! Easily add, browse, and borrow books with a seamless experience. Whether you're sharing your collection or discovering new reads, we make book access simple and efficient.</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 BORRI. All rights reserved.</p>
        </div>
    </footer>
   
    <div id="editUserModal" class="modal">
        <div class="modal-content">
            <a href="#" class="close-btn">&times;</a>
            <h2>Edit User</h2>
            <form id="editUserForm">
                <input type="hidden" id="editUserId">
                <div class="form-group">
                    <label for="editUserEmail">Email</label>
                    <input type="text" id="editUserEmail" readonly>
                </div>
                <div class="form-group">
                    <label for="editUserName">Userame</label>
                    <input type="text" id="editUserName">
                </div>
                <div class="form-group">
                    <label for="editUserRole">Role</label>
                    <select id="editUserRole" required>
                        <option value="user">user</option>
                        <option value="admin" >admin</option>
                    </select>
                </div>
                <button id="save-btn" type="submit" class="submit-btn">Save Changes</button>
            </form>
        </div>
    </div>
    <div id="deleteUserModal" class="modal">
        <div class="modal-content">
            <a href="#" class="close-btn">&times;</a>
            <h2>Confirm Deletion</h2>
            <p>Are you sure you want to delete this user? This action cannot be undone.</p>
            <div class="confirmation-buttons">
                <button id="confirmDelete" class="delete-btn">Delete</button>
                <button id="cancelDelete" class="cancel-btn">Cancel</button>
            </div>
        </div>
    </div>
    <script src="{% static 'js/users.js' %}"></script>
</body>
</html>